body {
  background: rgb(180, 8, 180);
}

.mainHeader {
  margin-top: 4.5rem;
}

.question-area {
  background: white;
  height: 100px;
  width: 350px;
  font-size: 55px;
  border-radius: 2%;
}

@keyframes trevor-3d-animation {
  0% {
    transform: translateZ(0) scale(1);
  }
  50% {
    transform: translateZ(150px) scale(1.5);
  }
  100% {
    transform: translateZ(300px) scale(2);
  }
}

.trevor-3d {
  animation: trevor-3d-animation 5s;
}

@keyframes trevor-animation {
  0% {
    transform: translateX(0);
  } /* Starting position */
  50% {
    transform: translateX(300px);
  } /* Midway position */
  100% {
    transform: translateX(0);
  } /* Back to starting position */
}

.trevor-animation {
  animation: trevor-animation 5s;
}

.trevor {
  width: 100px;
}

.timesDropDown {
  padding-left: 10%;
  padding-right: 10%;
}

.timesRadioBtns {
  padding-left: 10%;
  padding-right: 10%;
}

.retro {
  font-family: "Press Start 2P", cursive;
}

@media (max-width: 1200px) {
  .form-check {
    display: none;
  }

  .dropdown-form {
    display: block;
  }
}

@media (min-width: 1201px) {
  .form-check {
    display: flex;
  }

  .dropdown-form {
    display: none;
  }
}
