body {
  margin: 0;
  padding: 0;
  background: rgb(43, 5, 43);
}

.kermit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.mainHeader {
  margin-top: 3.5rem;
}

.mainHeader h1 {
  font-family: "Titan One", cursive;
  font-size: 50px;
  color: #fdfdfd;
}

.scores {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 14px;
}

.btn-check:checked + .btn.greenbtn {
  background-color: white !important;
  color: #7ea102 !important; /* You can also change the text color */
  border-color: black; /* You can also change the border color */
}

.question-area {
  background: white;
  height: 100px;
  width: 300px;
  font-size: 55px;
  border-radius: 10px 0px 0px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@keyframes kermit-3d-animation {
  0% {
    transform: translateZ(0) scale(1);
  }
  50% {
    transform: translateZ(140px) scale(1.5);
  }
  100% {
    transform: translateZ(0) scale(1);
  }
}

.kermit-3d {
  animation: kermit-3d-animation 5s alternate;
}

.kermit {
  width: 150px;
}

.timesDropDown {
  padding-left: 10%;
  padding-right: 10%;
}

.timesRadioBtns {
  padding-left: 10%;
  padding-right: 10%;
}

#answer {
  color: #445361;
  display: inline-block;
  height: 75px;
  width: 100px;
  font-size: 3rem;
  border-color: black;
  border-radius: 10px;
  background-color: rgb(222, 225, 222);
  margin-right: 5px;
}

#result {
  font-size: 16px;
  text-align: center;
  font-family: "Titan One", cursive;
}

.goBtn {
  border-radius: 0px 10px 10px 0px;
}

.greenbtn {
  background-color: #7ea102 !important;
  font-size: large;
  color: #fdfdfd !important;
  font-weight: 500;
}

.retro {
  font-family: "Press Start 2P", cursive;
  color: #fdfdfd;
}

.lg_screen_text {
  font-family: "Titan One", cursive;
  color: #fdfdfd;
}

.lg_screen_text .col.form-check {
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 1200px) {
  .form-check {
    display: none;
  }

  .dropdown-form {
    display: block;
  }

  .mainHeader H1 {
    font-size: 40px;
  }

  .mainHeader {
    margin-top: 3.5rem;
  }

  #result {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
  }
}

@media (min-width: 1201px) {
  .form-check {
    display: flex;
  }

  .dropdown-form {
    display: none;
  }

  .mainHeader H1 {
    font-size: 60px;
  }

  .scores {
    margin-left: 20%;
    margin-right: 20%;
  }
}
