body {
  background: rgb(222, 181, 222);
}

.question-area {
  background: white;
  height: 100px;
  width: 350px;
  font-size: 55px;
  border-radius: 2%;
}

.retro {
  font-family: "Press Start 2P", cursive;
}

@media (max-width: 768px) {
  .form-check {
    display: none;
  }

  .dropdown-form {
    display: block;
  }
}

@media (min-width: 769px) {
  .form-check {
    display: flex;
  }

  .dropdown-form {
    display: none;
  }
}
